@import "../constants/colors.scss";

.advantages {
  &__list {
    width: 100%;
  }

  &__item {
    min-width: 284px;
    min-height: 167px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item--another-bcg-color {
    background-color: $advantages-grey;
  }

  &__item-img {
    background-color: rgb(237, 191, 180);
    align-self: center;
  }

  &__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px 0;
  }

  &__item-number::before {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 1px;
    margin-right: 5px;
  }

  &__item-number::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 1px;
    margin-left: 5px;
  }

  &__item-number--another-bcg-color::before {
    content: "";
    background-color: rgba(51, 51, 51, 1);
    width: 10px;
    height: 1px;
    margin-right: 5px;
  }

  &__item-number--another-bcg-color::after {
    content: "";
    background-color: rgba(51, 51, 51, 1);
    width: 10px;
    height: 1px;
    margin-right: 5px;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 23px 18px 46px 18px;

    &__item {
      position: relative;
    }

    &__icon-wrapper {
      width: 40px;
      height: 40px;
      position: absolute;
    }

    &__icon {
      width: 100%;
      height: 100%;
    }

    &__text-wrapper {
      text-align: left;
      width: 237px;
      min-height: 113px;
      padding-left: 47px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      text-transform: uppercase;
    }
  }

  @media screen and (min-width: $tablet) {
    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .true-city,
    .devils-bridge {
      display: flex;
      flex-wrap: wrap;
    }

    .devils-bridge {
      flex-direction: row-reverse;
    }

    .true-city__wrapper,
    .devils-bridge__wrapper {
      padding: 52px 33px 30px 33px;
    }

    &__item-wrapper {
      min-width: 256px;
      display: flex;
      flex-direction: row;
    }

    &__text-wrapper {
      padding: 52px 33px 52px 33px;
      // flex-grow: 1;
      width: 190px;
    }

    .center-adv {
      padding: 41px 33px 52px 33px;
    }


    &__item--another-bcg-color {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }


    .benefits {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &__item {
        box-sizing: border-box;
        min-width: 257px;
        min-height: 331px;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__text-wrapper {
        width: 190px;
        text-align: center;
        padding: 0;
      }

      &__icon-wrapper {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
      }

      &__icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.advantages__title {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 0 18px 16px 18px;
}

.true-city__wrapper {
  background-color: rgba(129, 179, 210, 1);
  color: rgb(255, 255, 255);
  text-align: center;
}

// .advantages__item-title--number-one::after {
//   content: "— №1 —";
//   display: block;
//   padding: 11px 0 17px 0;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 21px;
// }

.devils-bridge__wrapper {
  background-color: rgba(129, 179, 210, 1);
  color: rgb(255, 255, 255);
  text-align: center;
}
