.form-hero {
  &__wrapper {
    background-image: url("../img/triangle-mobile.svg"), url("../img/catalog-hero-bcg.jpg");
    background-size: contain, cover;
    background-color: $advantages-blue;
    background-position: bottom, center;
    min-height: 160px;
    background-repeat: no-repeat;
    margin-bottom: 38px;
  }

  &__img {
    margin: 0 auto;
    padding-top: 50px;
  }

  @media screen and (min-width: $tablet) {
    &__wrapper {
      background-image: url("../img/triangle-tablet.svg"), url("../img/cat-hero-img-tablet.jpg");
      background-size: contain, cover;
      background-color: $advantages-blue;
      background-position: bottom, center;
      background-repeat: no-repeat;
      min-height: 288px;
      margin-bottom: 65px;
    }

    &__img {
      margin: 0 auto;
      padding-top: 95px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__wrapper {
      background-image: url("../img/triangle-desktop.svg"), url("../img/cat-hero-img-desktop.jpg");
      background-size: contain, cover;
      background-color: $advantages-blue;
      background-position: bottom, center;
      background-repeat: no-repeat;
      min-height: 301px;
      margin-bottom: 115px;
    }

    .catalog-hero__img {
      margin: 0 auto;
      padding-top: 101px;
    }
  }
}
