.hero__img-wrapper {
  background-image: url("../../img/triangle-mobile.svg"), url("../img/hero-image-mobile.jpg");
  background-color: rgb(129, 179, 210);
  min-height: 388px;
  background-repeat: no-repeat;
  background-position: 50% 100%, center;
  background-size: cover;
}

.hero__img {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}

.hero__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  padding: 32px 18px 35px 18px;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .hero__img-wrapper {
    background-image: url("../../img/triangle-tablet.svg"), url("../img/hero-img-tablet.jpg");
    background-color: rgb(129, 179, 210);
    background-repeat: no-repeat;
    background-position: 50% 100%, center;
    background-size: contain, cover;
    min-height: 520px;
  }

  .hero__img {
    padding-top: 77px;
  }
}

@media screen and (min-width: $desktop) {
  .hero__img-wrapper {
    background-image: url("../../img/triangle-desktop.svg"), url("../img/hero-img-desktop.jpg");
    background-color: rgb(129, 179, 210);
    background-repeat: no-repeat;
    background-position: 50% 100%, center;
    background-size: contain, cover;
  }
}
