/* stylelint-disable */
.hero__img-wrapper {
  background-image: url("../img/triangle-mobile.svg"), image-set(url("../img/hero-image-mobile.jpg") 1x, url("../img/hero-index-mobile-retina.jpg") 2x);
  background-color: rgb(129, 179, 210);
  min-height: 388px;
  background-repeat: no-repeat;
  background-position: 50% 100%, center;
  background-size: cover;
}

.hero__img {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}

.hero__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding: 32px 30px 35px 30px;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .hero__img-wrapper {
    background-image: url("../img/triangle-tablet.svg"), image-set(url("../img/hero-img-tablet.jpg") 1x, url("../img/hero-index-tablet-retina.jpg") 2x);
    background-color: rgb(129, 179, 210);
    background-repeat: no-repeat;
    background-position: 0 100%, center;
    background-size: contain, cover;
    min-height: 520px;
  }

  .hero__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    padding: 45px 124px 28px 124px;
    text-align: center;
  }

  .hero__img {
    padding-top: 77px;
  }
}

@media screen and (min-width: $desktop) {
  .hero__img-wrapper {
    background-image: url("../img/triangle-desktop.svg"), image-set(url("../img/hero-img-desktop.jpg") 1x, url("../img/hero-index-desktop-retina.jpg") 2x);
    background-color: rgb(129, 179, 210);
    background-repeat: no-repeat;
    background-position: 50% 100%, center;
    background-size: contain, cover;
  }

  .hero__title {
    width: 484px;
    margin: 0 auto;
    padding: 57px 0 26px 0;
  }
}
