@import "../constants/colors.scss";

.mobile-modal {
  &__error-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    top: 0;
    left: 0;
  }

  &__success-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    top: 0;
    left: 0;
  }

  &__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__button-wrapper {
    width: 100%;
    min-height: 98px;
    background-color: $inputs-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-modal__success-button {
  padding: 20px;
  width: 280px;
  min-height: 58px;
  background-color: $button-blue;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.mobile-modal__error-button {
  width: 180px;
  min-height: 58px;
  background-color: $button-blue;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.mobile-modal__error {
  min-height: 280px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-modal__success {
  min-height: 323px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.mobile-modal__error-text-wrapper {
  padding: 45px 42px 28px 41px;
}

.mobile-modal__success-text-wrapper {
  padding: 39px 38px 30px 38px;
}

@media screen and (min-width: $tablet) {
  .mobile-modal {
    &__error-wrapper {
      width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    &__success-wrapper {
      display: none;
      width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .mobile-modal__error-button {
    width: 272px;
  }

  .mobile-modal__error {
    min-height: 347px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);

    &__title {
      font-size: 30px;
      line-height: 40px;
      padding: 0 40px;
    }
  }

  .mobile-modal__success {
    min-height: 347px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 640px;
    left: 50%;
    transform: translateX(-50%);

    &__title {
      font-size: 30px;
      line-height: 26px;
      padding: 0 40px;
      margin-bottom: 50px;
    }

    &__text {
      padding: 0 75px;
    }
  }

  .mobile-modal__success-button {
    width: 458px;
  }

  .mobile-modal__button-wrapper {
    width: 100%;
    min-height: 146px;
    background-color: $inputs-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
