@import "../constants/colors.scss";

.mobile-modal {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  overflow: hidden;
  background-color: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;

  &__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__button-wrapper {
    width: 100%;
    min-height: 98px;
    background-color: $inputs-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.success-button {
  padding: 20px;
  width: 280px;
  min-height: 58px;
  background-color: $button-blue;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.modal-error__button {
  margin-left: 70px;
  width: 180px;
  min-height: 58px;
  background-color: $button-blue;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.modal-error {
  min-height: 280px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.modal-success {
  min-height: 323px;
}

.error-text-wrapper {
  padding: 45px 42px 28px 41px;
}

.success-text-wrapper {
  padding: 39px 38px 30px 38px;
}

@media screen and (min-width: $tablet) {
  .mobile-modal {
    display: none;
    width: 400px;
    min-height: 347px;
    margin: 0 auto;
  }

  .modal-error__button {
    width: 272px;
  }

  .modal-success {
    width: 640px;
    min-height: 347px;
  }

  .success-button {
    width: 458px;
  }

  .mobile-modal__button-wrapper {
    width: 100%;
    min-height: 146px;
    background-color: $inputs-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
