@import "../constants/colors.scss";

.products-mobile {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-bottom: 25px;
    position: relative;
  }

  &__sign-wrapper {
    padding: 15px 0 25px 0;
  }

  &__sign-wrapper::after {
    content: "";
    width: 110%;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    bottom: 0;
    left: -20px;
  }

  &__title-wrapper {
    padding: 37px 20px 25px 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__title-wrapper::after {
    content: "";
    width: 110%;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    bottom: 0;
    left: -20px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text-wrapper {
    align-self: flex-start;
  }

  &__likes-wrapper {
    align-self: flex-start;
  }

  &__like-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__like-button:hover {
    cursor: pointer;
  }

  &__image-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  &__image-author {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  &__video-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 38px;
  }

  &__video-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &__video-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
}

.mobile-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.mobile-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@media screen and (min-width: $tablet) {
  .products-mobile {
    padding-left: 60px;
    padding-right: 60px;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__item:first-child {
      grid-column: 1/3;
    }

    &__sign-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .mobile-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
  }

  .products-mobile__video-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
  }
}

@media screen and (min-width: $desktop) {
  .products-mobile {
    padding-left: 0;
    padding-right: 0;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item:first-child {
      grid-column: 1/4;
    }

    &__sign-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
