@import "../constants/colors.scss";

.products-mobile {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-bottom: 25px;
    position: relative;
  }

  &__item::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%);
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item:last-child::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  &__sign-wrapper {
    padding: 15px 0 25px 0;
  }

  &__title-wrapper {
    padding: 37px 0 35px 0;
    text-align: center;
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text-wrapper {
    align-self: flex-start;
    margin-bottom: 11px;
  }

  &__likes-wrapper {
    align-self: flex-start;
  }

  &__likes-quantity {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: inherit;
    margin-left: 10px;
  }

  &__like-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__like-icon {
    opacity: 0.3;
  }

  &__like-button:hover {
    cursor: pointer;
  }

  &__image-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  &__image-author {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  &__video-wrapper {
    margin-bottom: 27px;
  }

  &__video-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 38px;
  }

  &__video-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 28px;
  }

  &__video-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }

  &__img-wrapper {
    width: 100%;
    background-color: rgb(149, 128, 120);
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.products-mobile__img-triangle {
  content: "";
  background-image: url("../img/video-triangle.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  display: block;
}

.mobile-title {
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
}

.mobile-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@media screen and (min-width: $tablet) {
  .products-mobile {
    padding-left: 60px;
    padding-right: 60px;

    &__wrapper {
      margin-bottom: 48px;
    }

    &__title {
      margin-bottom: 34px;
    }

    &__title-wrapper {
      width: 458px;
      margin-bottom: 45px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      padding: 0 15px 0 15px;
    }

    &__text-wrapper {
      margin: 0;
      align-self: center;
      padding-top: 6px;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 38px;
    }

    &__item {
      margin: 0;
    }

    &__item::before {
      display: none;
    }

    &__item:first-child {
      grid-column: 1/3;
    }

    &__likes-wrapper {
      align-self: center;
    }

    &__likes-quantity {
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
      font-family: inherit;
      margin-left: 4px;
    }

    &__sign-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
      background-color: $sign-wrapper-color;
      box-sizing: border-box;
      min-height: 80px;
    }

    &__video-text-wrapper {
      margin-bottom: 51px;
    }

    &__video-text {
      padding: 0 100px;
    }
  }

  .mobile-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
  }

  .products-mobile__video-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: $desktop) {
  .products-mobile {
    padding-left: 0;
    padding-right: 0;

    &__title-wrapper {
      margin-bottom: 53px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 42px;
    }

    &__item {
      position: relative;
    }

    &__item:first-child {
      grid-column: 1/4;
    }

    &__list:first-child {
      .products-mobile__sign-wrapper {
        padding: 0 21px 0 21px;
      }
    }

    &__sign-wrapper {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      color: rgb(255, 255, 255);
      padding: 0 25px 0 25px;
    }

    &__text-wrapper {
      padding-top: 5px;
    }

    &__img-wrapper {
      margin: 0 auto;
      width: 800px;
      height: 500px;
    }

    &__image {
      display: block;
    }

    &__image-author {
      color: rgba(255, 255, 255, 0.8);
    }

    &__likes-wrapper {
      color: rgb(255, 255, 255);
    }

    &__like-icon {
      opacity: 1;
    }

    &__like-icon path {
      fill: rgb(255, 255, 255, 1);
    }

    &__like-button {
      color: rgba(255, 255, 255, 1);
    }

    &__video-text-wrapper {
      margin-bottom: 50px;
    }

    &__video-wrapper {
      margin-bottom: 72px;
    }

    &__video-text {
      padding: 0 370px;
    }
  }
}
