.review {
  padding-left: 20px;
  padding-right: 20px;

  .review-form {
    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
    }

    &__wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__label {
      color: rgba(51, 51, 51, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
    }

    &__button {
      min-width: 280px;
      background-color: rgba(129, 179, 210, 1);
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      min-height: 58px;
    }
  }

  &__title-wrapper {
    padding: 36px 0 28px 0;
  }
}

@media screen and (min-width: $tablet) {
  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .emotions-inputs {
    grid-column: 1/3;
  }

  .impression-inputs {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
  }

  .attraction-inputs {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
  }


  .review-form__button {
    min-width: 324px;
    background-color: rgba(129, 179, 210, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    min-height: 58px;
    text-transform: uppercase;
  }

  .emotions-textarea {
    width: 100%;
  }
}
