@import "../constants/colors.scss";

.review {
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__text {
    text-align: center;
    margin-bottom: 28px;
  }
}

.review-form {
  margin-bottom: 55px;

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 0 0 0;
  }

  &__title-wrapper::after {
    content: "";
    width: 110%;
    height: 1px;
    background-color: $form-line-color;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
  }

  // &__wrapper {
  //   padding-top: 30px;
  //   padding-bottom: 24px;
  // }

  &__label {
    color: $form-label-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    min-width: 280px;
    background-color: rgba(129, 179, 210, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    min-height: 58px;
    text-transform: uppercase;
  }

  &__required-text {
    color: rgba(51, 51, 51, 0.6);
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: end;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    height: 58px;
    background-color: $inputs-color;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding: 16px 16px 16px 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  &__input:hover {
    background-color: $form-input-color-hover;
  }

  // &__item {
  //   display: flex;
  //   align-items: center;
  // }
}

.name-inputs {
  position: relative;
  padding: 30px 0 24px 0;
}

.contacts-inputs {
  padding: 28px 0 20px 0;
  position: relative;
}

.impression-inputs {
  padding: 27px 0 5px 0;
  position: relative;
}

.impression-title {
  margin-bottom: 24px;
}

.impression-label {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.attraction-inputs {
  padding: 32px 0 7px 0;
  position: relative;
}

.attraction-label {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.name-inputs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $form-line-color;
  position: absolute;
  top: 100%;
  right: 0;
}

.name-inputs::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $form-line-color;
  position: absolute;
  top: 0;
  right: 0;
}

.contacts-inputs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $form-line-color;
  position: absolute;
  top: 100%;
  right: 0;
}

.phone-input {
  background-image: url("../../img/phone-input-icon.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding: 16px 58px 16px 16px;
}

.email-input {
  background-image: url("../../img/email-input-icon.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding: 16px 58px 16px 16px;
}

.phone-input::-webkit-outer-spin-button,
.phone-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.impression-inputs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $form-line-color;
  position: absolute;
  top: 100%;
  right: 0;
}

.impression-input {
  width: 46px;
  height: 46px;
  margin: 0;
}

.impression-input[type="radio"]:checked + .radio-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.attraction-input[type="checkbox"]:checked + .checkbox-mark::before,
.attraction-input[type="checkbox"]:checked + .checkbox-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/checkbox-icon.svg");
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  content: "";
}

.attraction-inputs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $form-line-color;
  position: absolute;
  top: 100%;
  right: 0;
}

.attraction-title {
  padding: 0;
  line-height: 22px;
  margin-bottom: 24px;
}

.impression-label:hover .radio-mark {
  background-color: $form-input-color-hover;
}

.attraction-label:hover .checkbox-mark {
  background-color: $form-input-color-hover;
}

// .impression-label:last-child {
//   margin-bottom: 0;
// }

.impression-text {
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.radio-mark {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $inputs-color;
  margin-right: 16px;
}

.attraction-input {
  width: 46px;
  height: 46px;
  margin: 0;
}

.attraction-text {
  text-transform: none;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.checkbox-mark {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: $inputs-color;
  margin-right: 16px;
}

.emotions-inputs {
  padding: 27px 0 37px 0;
}

.emotions-title {
  margin-bottom: 22px;
}

.emotions-textarea {
  min-height: 150px;
}

@media screen and (min-width: $tablet) {
  .review {
    padding: 0;
    margin-bottom: 98px;

    &__title-wrapper {
      margin-bottom: 73px;
    }

    &__title {
      margin-bottom: 22px;
    }

    &__text--mobile {
      display: none;
    }

    &__text--tablet {
      text-align: center;
      font-family: inherit;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .name-inputs {
    margin-right: 43px;
    position: relative;

    &__title {
      padding-left: 40px;
    }
  }

  .contacts-inputs__title {
    margin-left: -40px;
  }

  .name-inputs::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: $form-line-color;
    position: absolute;
    top: 0;
    right: -43px;
  }

  .contacts-inputs {
    margin-left: 44px;
  }

  .name-inputs::before {
    display: none;
  }

  .contacts-inputs::after {
    display: none;
  }

  .impression-item {
    width: 280px;
    margin-left: 19px;
  }

  .impression-inputs {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px 0 0 0;
  }

  .impression-inputs::after {
    display: none;
  }

  .attraction-inputs::after {
    display: none;
  }

  .attraction-item {
    margin-left: 34px;
    min-width: 224px;
  }

  .impression-label {
    padding: 0;
  }

  .radio-mark {
    margin-right: 16px;
  }

  .review__title-wrapper::after {
    content: "";
    display: none;
  }

  .attraction-list {
    margin-left: 33px;
  }

  .review-form .attraction-title {
    padding: 0 130px;
    margin-bottom: 30px;
  }

  .impression-title,
  .attraction-title,
  .emotions-title {
    position: relative;
  }

  .impression-title::before,
  .attraction-title::before,
  .emotions-title::before {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .impression-title::after,
  .attraction-title::after,
  .emotions-title::after {
    content: "";
    width: 123px;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    top: 50%;
    right: 0;
  }

  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;

    &__title {
      font-size: 21px;
      font-weight: 700;
      line-height: 26px;
      text-align: center;
      margin-bottom: 28px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__label {
      padding-left: 16px;
    }

    &__required-text {
      color: rgba(51, 51, 51, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: end;
      text-transform: uppercase;
    }

    &__button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      grid-column: 1/3;
      align-items: baseline;
    }
  }

  .emotions-inputs {
    grid-column: 1/3;
    padding: 16px 0 29px 0;
  }

  .attraction-inputs {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review-form__button {
    min-width: 324px;
    background-color: rgba(129, 179, 210, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    min-height: 58px;
    text-transform: uppercase;
  }

  .emotions-textarea {
    width: 100%;
    min-height: 160px;
    color: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: $desktop) {
  .impression-title::before,
  .attraction-title::before,
  .emotions-title::before {
    content: "";
    width: 280px;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .impression-title::after,
  .attraction-title::after,
  .emotions-title::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: $form-line-color;
    position: absolute;
    top: 50%;
    right: 0;
  }

  .review {
    &__title-wrapper {
      margin-bottom: 66px;
    }

    &__title {
      margin-bottom: 28px;
    }
  }

  .review-form {
    padding: 0 120px;

    &__button-wrapper {
      width: 768px;
      margin: 0 auto;
      margin-top: 9px;
    }

    &__button {
      min-width: 384px;
    }
  }

  .name-inputs {
    border-right: 1px solid $form-line-color;
    padding: 0;
    padding-right: 64px;
    margin-right: 0;

    &__title {
      padding-left: 63px;
    }
  }

  .name-inputs input {
    min-width: 430px;
  }

  .name-inputs::after {
    display: none;
  }

  .contacts-inputs {
    padding: 0;
    padding-left: 63px;
    margin: 0;

    &__title {
      text-align: start;
      padding-left: 70px;
    }
  }

  .impression-inputs {
    padding-top: 56px;
    margin-bottom: 26px;
  }

  .impression-title {
    margin-bottom: 43px;
  }

  .impression-list {
    margin-left: 37px;
  }

  .impression-item:not(:last-child) {
    margin-right: 28px;
  }

  .impression-item {
    margin: 0;
  }

  .attraction-inputs {
    margin-bottom: 54px;
    padding-bottom: 0;
  }

  .review-form .attraction-title {
    padding: 0 275px;
    margin-bottom: 60px;
  }

  .attraction-list {
    margin: 0;
    margin-left: 28px;
  }

  .attraction-item {
    margin: 0;
  }

  .attraction-item:not(:last-child) {
    margin-right: 12px;
  }

  .attraction-item:last-child {
    margin-left: -22px;
  }

  .emotions-textarea {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
  }
}
