@import "../constants/colors.scss";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 29px 32px 29px;
  }

  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 23px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text-tablet {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-blue;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    min-width: 284px;
    min-height: 58px;
    margin-bottom: 49px;
  }

  &__map-wrapper {
    width: 100%;
    background-color: rgb(242, 241, 236);
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
  }

  &__map {
    background-color: rgb(242, 241, 237);
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-blue;
      color: rgb(255, 255, 255);
      font-size: 21 px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      min-width: 454px;
      min-height: 58px;
      margin-bottom: 58px;
    }

    &__text-wrapper {
      padding: 61px 0 40px 0;
      max-width: 435px;
      // margin: 0 auto;
    }

    &__text-tablet {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      display: none;
    }

    &__title {
      font-size: 30px;
      font-weight: 700;
      line-height: 26px;
      padding-bottom: 32px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__text-wrapper {
      padding: 61px 0 45px 0;
    }

    &__button {
      margin-bottom: 66px;
    }
  }
}
