@import "../constants/colors.scss";

.catalog-hero {
  &__wrapper {
    background-image: url(../../img/hero-image-mobile.jpg);
    background-size: cover;
    background-color: $advantages-blue;
    background-position-y: 200px;
    min-height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
