// Начните писать стили здесь

@import "./common-styles/main-header.scss";
@import "./constants/screen-size.scss";
@import "./common-styles/fonts.scss";
@import "./common-styles/visually-hidden.scss";
@import "./common-styles/main-nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/advantages.scss";
@import "./common-styles/footer.scss";
@import "./blocks/search.scss";
@import "./constants/colors.scss";
@import "./blocks/products-mobile.scss";
@import "./blocks/catalog-hero.scss";
@import "./blocks/form-hero.scss";
@import "./blocks/review-form.scss";
@import "./blocks/mobile-modal.scss";
@import "./blocks/page-body.scss";
@import "./blocks/button.scss";
@import "./blocks/benefits.scss";
@import "./blocks/review.scss";

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul,
ol,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

.text {
  text-transform: uppercase;
}
