@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsansbold.woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-display: swap;
}

* {
  font-family: "PT Sans", "Arial", sans-serif;
}
