@import "./constants/screen-size.scss";

.main-header {
  @media screen and (min-width: $mobile) {
    display: flex;
    position: relative;
    justify-content: flex-end;
    min-height: 56px;
    flex-direction: column;

    &__logo {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: flex-start;
  }
}
