@import "../constants/colors.scss";

.main-nav.open .main-nav__wrapper {
  display: block;
  z-index: 11;
}

// .main-nav.open .main-nav__burger {
//   background-color: rgb(255, 255, 255);
//   transform: scale(0);
// }

.main-nav.open .main-nav__burger {
  background-color: transparent;
}

.main-nav.open .main-nav__burger::before {
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.main-nav.open .main-nav__burger::after {
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.main-nav.open .main-nav__toggle:hover .main-nav__burger::after {
  background-color: rgb(255, 255, 255, 0.6);
}

.main-nav.open .main-nav__toggle:hover .main-nav__burger::before {
  background-color: rgb(255, 255, 255, 0.6);
}

// .main-nav.open .main-nav__burger

.main-nav {
  &__toggle {
    position: relative;
    border: none;
    padding: 0;
    right: 12px;
    width: 40px;
    height: 40px;
    background-color: inherit;
    top: 50%;
    transform: translateY(-50%);
    z-index: 12;
  }

  &__burger {
    position: absolute;
    width: 23px;
    height: 4px;
    background-color: $advantages-blue;
    left: 50%;
    transform: translateX(-50%);
  }

  &__burger::before {
    content: "";
    width: 23px;
    height: 4px;
    background-color: $advantages-blue;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -10px;
  }

  &__burger::after {
    content: "";
    width: 23px;
    height: 4px;
    background-color: $advantages-blue;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 10px;
  }

  &__toggle:hover .main-nav__burger {
    background-color: rgba(129, 179, 210, 0.5);
  }

  &__toggle:hover .main-nav__burger::after {
    background-color: rgba(129, 179, 210, 0.5);
  }

  &__toggle:hover .main-nav__burger::before {
    background-color: rgba(129, 179, 210, 0.5);
  }

  &__toggle:active .main-nav__burger {
    background-color: rgba(129, 179, 210, 0.1);
  }

  &__toggle:active .main-nav__burger::after {
    background-color: rgba(129, 179, 210, 0.1);
  }

  &__toggle:active .main-nav__burger::before {
    background-color: rgba(129, 179, 210, 0.1);
  }

  &__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
  }

  &__menu-item {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background-color: rgba(129, 179, 210, 1);
    text-transform: uppercase;
    min-height: 55px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    padding-top: 17px;
    box-sizing: border-box;
    position: relative;
  }

  &__menu-item:hover {
    background-color: rgba(102, 158, 192, 1);
    cursor: pointer;
  }

  &__menu-item:active {
    background-color: rgba(84, 150, 189, 1);
  }

  &__menu-item:active .menu-link {
    opacity: 0.3;
  }

  .close-button {
    position: absolute;
    right: 16px;
    top: 12px;
    border: none;
    background-color: inherit;
  }

  .menu-link {
    color: rgb(255, 255, 255);
  }

  .menu-link--gradient {
    margin-top: 5px;
    width: 100%;
    height: 7px;
    background-image: url("../../img/main-nav-gradient.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media screen and (min-width: $tablet) {
    position: unset;
    width: 100%;

    .menu-link {
      color: rgba(0, 0, 0, 1);
    }

    .menu-link--gradient {
      display: none;
    }

    &__toggle {
      display: none;
    }

    &__menu-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__menu-item {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 19px;
      box-sizing: border-box;
      background-color: inherit;
      min-width: 153px;
      box-shadow: none;
    }

    &__menu-item:hover {
      background-color: inherit;
      cursor: pointer;
    }

    &__menu-item:hover .menu-link {
      color: rgba(129, 179, 210, 1);
    }

    &__menu-item:active .menu-link {
      color: rgba(0, 0, 0, 0.4);
    }

    &__menu-item:nth-child(2) {
      margin-right: 155px;
    }

    &__wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .close-button {
      display: none;
    }

    .current {
      color: rgba(118, 99, 87, 1);
    }
  }

  @media screen and (min-width: $desktop) {
    &__menu-list {
      padding: 0 44px 0 44px;
    }

    &__menu-item:nth-child(2) {
      margin-right: 240px;
    }
  }
}

// .menu-link {
//   color: rgb(255, 255, 255);
// }
