.main-nav {
  position: relative;

  &__toggle {
    position: absolute;
    border: none;
    padding: 0;
    background-color: initial;
    right: 20px;
    top: 17px;
  }

  &__toggle:hover {
    cursor: pointer;
  }

  &__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__menu-item {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background-color: rgba(129, 179, 210, 1);
    text-transform: uppercase;
    min-height: 55px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2);
    padding-top: 17px;
    box-sizing: border-box;
    position: relative;

    .close-button {
      position: absolute;
      right: 16px;
      top: 12px;
      // background-image: url(../img/icon-cross.svg);
      border: none;
      background-color: inherit;
    }
  }

  @media screen and (min-width: $tablet) {
    .menu-link {
      color: rgba(0, 0, 0, 1);
    }

    &__toggle {
      display: none;
    }

    &__menu-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__menu-item {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 17px;
      box-sizing: border-box;
      background-color: inherit;
      min-width: 153px;
    }

    &__menu-item:nth-child(2) {
      margin-right: 50px;
    }

    &__menu-item:nth-child(3) {
      margin-left: 50px;
    }

    &__wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .close-button {
      display: none;
    }
  }
}

.menu-link {
  color: rgb(255, 255, 255);
}
